services:
  gateway:
    image: caddy:alpine
    ports:
      - 8888:80
    volumes:
      - ./_etc/caddy:/etc/caddy
      - caddy-vol:/data

  server:
    build:
      dockerfile: ./monolith/Dockerfile
      target: devel
    volumes:
      - ./account:/kochira/account
      - ./link:/kochira/link
      - ./monolith:/kochira/monolith
      - ./lib:/kochira/lib
      - ./subscription:/kochira/subscription
    env_file: 
      - path: "./account/.env"
        required: true
      - path: "./link/.env"
        required: true
      - path: "./subscription/.env"
        required: true
  db:
    image: postgres:alpine
    volumes:
      - db-vol:/var/lib/postgresql
    environment:
      POSTGRES_USER: kochira
      POSTGRES_DB: kochira
      POSTGRES_PASSWORD: beats_me
  cache:
    image: valkey/valkey:alpine
    volumes:
      - cache-vol:/data
  mq:
    ports:
      - 8889:15672
    image: rabbitmq:management-alpine
    volumes:
      - mq-vol:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: kochira
      RABBITMQ_DEFAULT_PASS: i_know


volumes:
  db-vol:
  cache-vol:
  mq-vol:
  caddy-vol: